.board-cell {
    @apply w-full h-full;
    border: solid 0.2rem darksalmon;
    @apply flex justify-center items-center;
    border-width: calc(max(min(0.5vh, 0.5vw), 0.2rem));
}

.board-cell > span {
    @apply text-3xl;
    text-shadow: 0 0 10px bisque;
}
