.userbar {
    display: flex;
    height: 3.5rem;
}

.userbar :global .earshadow {
    @apply border-yellow-900 border-0;
    border-left-color: transparent;
    border-top-width: 2.25rem;
    border-left-width: 1.75rem;
    margin-right: -1.5rem;
}

.userbar :global .ear {
    @apply border-yellow-500 border-0;
    border-top-width: 1.5rem;
    border-left-width: 1.5rem;
    border-left-color: transparent;
    /* double more than needed to avoid occasional rounding errors */
    margin-right: -0.1rem;
    /* overtake the primary pane's left border */
    z-index: 2;
}

.userbar :global .pane {
    @apply bg-yellow-500 border-yellow-900 p-3;

    border-bottom-width: 0.25rem;
    border-left-width: 0.05rem;
    border-bottom-left-radius: 1rem;
}

.userbar :global .username {
    @apply font-mono text-2xl text-gray-700;
    @apply leading-8 align-middle ml-3;
    cursor: pointer;
}

.userbar :global .username:hover {
    @apply underline text-indigo-900;
}
