section.content {
    height: 100%;
    display: flex;
    align-content: stretch;
}
#game {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* height: 100%; */
}
#game h1 {
    width: 100%;
    text-align: center;
}
#controls {
    background-color: darkkhaki;
    width: 30%;
}
#controls :global .row {
    align-items: center;
    height: 100%;
}
